.profilePhoto{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 3%;
}

.toProfileLink{
  padding-bottom: 1%;
  cursor: pointer;
  transition: all 0.3s;
}

.toProfileLink:hover{
  background-color: rgba(43, 95, 159, 1.0);
  color: white;
  transition: all 0.3s;
}

button{
  width: 100%;
}

p{
  margin: 0;
}
