  <div class="toProfileLink" routerLink="/profile">
    <img class="profilePhoto" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=150" alt="Foto de perfil">
    <p>Dr. Juanin Juan Harry</p>
  </div>
  <mat-divider></mat-divider>
  <button mat-button >Pacientes</button>
  <button mat-button >Recetas</button>
  <div style="position: absolute; bottom: 0; left: 0; right: 0;">
    <mat-divider></mat-divider>    
    <button mat-button >Configuración</button>
    <button mat-button (click)="logout()">Cerrar Sesión</button>
    <div style="font-size: small; margin-top: 15px;">
      <p>Copyright &#9400; 2021 Infantem</p>
    </div>
  </div>
